aries/framework/src/main/resources/META-INF/aries.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://brucexx.iteye.com/schema/tags"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://brucexx.iteye.com/schema/tags" xmlns:ns1="http://ariesProtocol.enums.protocol.brucexx.com"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.springframework.org/schema/beans" />

	<!-- 客户端 -->
	<xsd:element name="reference">
		<xsd:annotation>
			<xsd:documentation>client refer to service id</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="interface" type="xsd:string"
						use="required" />
					<xsd:attribute name="protocol" type="protocolType"
						use="required" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>

	</xsd:element>

	<!-- 服务端 -->
	<xsd:element name="service">
		<xsd:annotation>
			<xsd:documentation>service to publish</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="ref" type="xsd:string" use="required" />
					<xsd:attribute name="interface" type="xsd:string"
						use="required" />
					<xsd:attribute name="protocol" type="xsd:string" use="required" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>


	<xsd:simpleType name="protocolType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="WS" />
			<xsd:enumeration value="TCP" />
			<xsd:enumeration value="MQ" />
			<xsd:enumeration value="HESSIAN" />
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>