aries/framework/src/main/resources/META-INF/aries.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://brucexx.iteye.com/schema/tags"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://brucexx.iteye.com/schema/tags" xmlns:ns1="http://ariesProtocol.enums.protocol.brucexx.com"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.springframework.org/schema/beans" />

	<!-- 客户端 -->
	<xsd:element name="reference">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="referenceType">
					<xsd:sequence>
						<xsd:element ref="beans:props" minOccurs="0" />
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<!-- 服务端 -->
	<xsd:element name="service">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="serviceType">
					<xsd:sequence>
						<xsd:element ref="beans:props" minOccurs="0" />
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="referenceType">
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">
				<xsd:attribute name="interface" type="xsd:string" use="required" />
				<xsd:attribute name="groupId" type="xsd:string" use="optional" />
				<xsd:attribute name="protocol" type="protocolType"
					use="required" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="serviceType">
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">
				<xsd:attribute name="ref" type="xsd:string" use="required" />
				<xsd:attribute name="interface" type="xsd:string" use="required" />
				<xsd:attribute name="groupId" type="xsd:string" use="optional" />
				<xsd:attribute name="protocol" type="protocolType"
					use="required" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="protocolType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="WS" />
			<xsd:enumeration value="JVM" />
			<xsd:enumeration value="MQ" />
			<xsd:enumeration value="HESSIAN" />
		</xsd:restriction>
	</xsd:simpleType>




</xsd:schema>